@mixin between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin big-text{
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  color: $colorBlue;
}
@mixin btn{
  background: #3D5675;
  border-radius: 44px;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
}
@mixin center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin text{
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.36px;
  color: $colorBlue;
}
@mixin mini-text{
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: $colorBlue;
}