@import "reset";
@import "mixin";
@import "verables";

#header {
  margin: 20px;

  .header {
    &--block {

      background: white;
      display: flex;

      &__icon {
        margin: 4px 10px 0 150px;
      }

      &__menuss {
        text-transform: uppercase;
        color: #011F3A;
        width: 50%;
        @include between
      }
      &__menuss a:hover{
        border-bottom: 3px solid #011F3A;
      }

      &__menu {
        margin: 0 0 0 300px;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1.96px;
        text-transform: uppercase;
        color: #011F3A;
      }

      &__icons {
        padding: 0 20px;
      }
    }
  }
}
#hero {
  height: 505px;
  background: #F2AE4D;

  .hero {
    @include center;

    &--title {

      width: 50%;
      font-weight: 400;
      font-size: 48px;
      line-height: 56px;
      color: $colorBlue

    }

    &--text {
      width: 30%;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: $colorBlue;
      margin: 20px 0;

    }

    &--btn {
      margin: 20px 0;
      @include btn;
      cursor: pointer;
    }

    &--btn:hover {
      transform: scale(1.2);
    }

    &--img {
    }
    &--svg {
      display: flex;
      justify-content: space-around;
      align-items: center;

      h1 {
        width: 5%;
        font-size: 15px;
        letter-spacing: 0.6px;
        color: #A1A1A1;
        margin: 0 0 0 -180px;

      }
    }
  }
}
#product {
  background: white;
  margin: 100px 0 20px 0;

  .product {
    &--menu {

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }


    &--block {
      padding: 50px;
      display: flex;
      @include between;

      &__log {
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        color: $colorBlue;
      }

      &__btn {
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        @include btn
      }

      &__btn:hover {
        transform: scale(1.2);

      }
    }

    &--end {
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      &__question {
        font-weight: 700;
        font-size: 15px;
        line-height: 24px;
        color: #A1A1A1;
      }

      &__btn {
        text-transform: uppercase;
        color: #3D5675;
        background: #FFFFFF;
        border-radius: 44px;
        padding: 8px 15px;
        border: 1px solid white;
        cursor: pointer;
      }


    }

  }
}
#order{
  .order{
    &--block{
      height: 774px;
      background: #72BDA3;
      &__img{
        @include between;
        &--link{
          h1{
            @include text;
          }
          h2{
            @include mini-text
          }
        }
      }
      &__text{
        padding: 90px 0;
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 41px;
        text-align: center;
        color: $colorBlue;
      }
      &__btn{
        @include center;
        padding: 60px 0;
        button{
          background: $colorBlue;
          width: 220px;
          height: 44px;
          font-family: 'Roboto',sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          text-align: center;
          letter-spacing: 1.96px;
          text-transform: uppercase;
          color: #FFFFFF;
          border-radius: 44px;
          border: none;
          transition: 2s;
        }
        button:focus{
          width: 250px;
          height: 50px;
          background:#FFFFFF;
          color: $colorBlue;
        }
      }
    }
  }
}
#ark{
  .ark{
    &--block{
      h1{
        margin: 50px 0;
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 41px;
        color: $colorBlue;
      }
      &__link{
        padding: 0 0 100px 0;
        @include between;
        &--img{
          h1{
            @include text;
          }
          h2{
            @include mini-text;
          }
        }

      }
    }
  }
}
#like{
  .like{
    height: 610px;
    background: #FFCA3A;
    box-shadow: 0 14px 44px rgba(143, 143, 143, 0.25);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &--line{
      width: 1px;
      height: 410px;
      background: rgba(161, 161, 161, 0.4);
    }
    &--block{
      display: flex;
      flex-direction: column;
      align-items: center;
      h1{
        @include text;
      }
      h2{
        @include mini-text;
        padding: 0 0 10px 0;
      }
      button{
        font-family: 'Roboto',sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1.96px;
        color:#3D5675;
        height: 44px;
        width: 204px;
        background: #FFFFFF;
        border-radius: 44px;
        border: none;
        transition: 2s;
      }
      button:focus{
        height: 50px;
        width: 250px;
        border-radius:10px;
        background:#3D5675;
        color: #FFFFFF;
      }
    }
  }
}
